<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->

{{#each animals}}
<p>Animal: {{animalType}}</p>
<p>Is Pet: {{pet}}</p>
<p>fierceness: {{fierceness}}</p>
<hr>
{{/each}}